<div class="card bg-body-tertiary">
  <div class="card-body text-center d-flex flex-column">
    <h5 class="text-center mb-3">Screening List:</h5>
    <hr>
    <table class="table mb-5">
      <thead>
      <tr class="table-success">
        <th scope="col">Picture</th>
        <th scope="col">Title</th>
        <th scope="col">Time of Screening</th>
        <th scope="col">Total Seats</th>
        <th scope="col">Free Seats</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let screening of screenings" >
        <td><img src="{{screening.pictureUrl}}" style= "height:70px"></td>
        <td>{{screening.title}}</td>
        <td>{{screening.screeningDate}}</td>
        <td>{{screening.totalSeats}}</td>
        <td>{{screening.freeSeats}}</td>
      </tr>
      </tbody>
    </table>

  </div>
</div>
